/*
 * Copyright 2015-2017 Lothar Waßmann <LW@KARO-electronics.de>
 * Copyright 2025 Matthias Klein <matthias.klein@optimeas.de>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License
 *     version 2 as published by the Free Software Foundation.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 *
 *     based on imx6dl-tx6s-8035.dts
 */

/dts-v1/;
#include "imx6dl.dtsi"
#include "imx6qdl-tx6.dtsi"

/ {
	model = "optiMEAS smartRAIL";
	compatible = "optimeas,tx6s-smartrail", "karo,imx6dl-tx6dl", "fsl,imx6dl";

	cpus {
		/delete-node/ cpu@1;
	};

	/* Fixed indices for mmcblk devices */
	aliases {
		mmc0 = &usdhc1; /* 2190000 | /dev/mmcblk0 | external SD card */
		mmc1 = &usdhc2; /* 2194000 | /dev/mmcblk1 | internal SD card on smartMINI */
		mmc2 = &usdhc4; /* 219c000 | /dev/mmcblk2 | eMMC */
		mmc3 = &usdhc3; /* 2198000 | /dev/mmcblk3 | not used */
	};
};

&uart2 { /* ttymxc1 (RS232/485): pin63 / 64 */
	pinctrl-0 = <&pinctrl_uart2 &pinctrl_uart2_rtscts>;
	fsl,uart-has-rtscts;
    linux,rs485-enabled-at-boot-time;
};

&uart3 { /* ttymxc2 (GPS): pin67 / 68 */
	pinctrl-0 = <&pinctrl_uart3>;
};

&snvs_rtc {
	status = "disabled";
};

&ds1339 {
	status = "disabled";
};

&gpmi {
	status = "disabled";
};

&sgtl5000 {
	status = "disabled";
};

&kpp {
	status = "disabled";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	bus-width = <4>;
	non-removable;
	no-1-8-v;
	fsl,wp-controller;
	status = "okay";
};

&i2c3 {
	i2c_rtc: rv4162@68 {
		compatible = "mc,rv4162";
		reg = <0x68>;
	};
};

&ecspi1 {
	status = "okay";

    /delete-node/ spi@0;
    /delete-node/ spi@1;
    
    slb9670: slb9670@1 {
		compatible = "infineon,slb9670";
		reg = <1>;	/* CE1 */
		spi-max-frequency = <1000000>;
		status = "okay";
    };
};

&iomuxc {
	pinctrl-0 = <&pinctrl_hog &pinctrl_optimeas>;

	pinctrl_optimeas: optimeasgrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x1b0b0	// IN:  SUSP_IND1		(Suspend output from USB hub)
			MX6QDL_PAD_GPIO_4__GPIO1_IO04		0x1f0f0	// OUT: RS485_DE		(RS485 driver enable)
			MX6QDL_PAD_KEY_COL2__GPIO4_IO10		0x1f0f0	// OUT: RS485_/RE		(RS485 receiver enable)
			MX6QDL_PAD_KEY_COL3__GPIO4_IO12		0x1f0f0	// OUT: RS232_/EN		(RS232 transceiver enable)
			MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x1f0f0	// OUT: CAN0_STBY		(CAN0 transceiver standy)
			MX6QDL_PAD_GPIO_5__GPIO1_IO05		0x1f0f0	// OUT: CAN1_STBY		(CAN1 transceiver standy)
			MX6QDL_PAD_KEY_ROW2__GPIO4_IO11		0x1f0f0	// OUT: PWRKEY			(LTE modem power down)
			MX6QDL_PAD_KEY_ROW3__GPIO4_IO13		0x1b0b0	// IN:  GPS_1PPS		(PPS output from GPS module)
			MX6QDL_PAD_CSI0_DAT12__GPIO5_IO30	0x1f0f0	// OUT: GPIO_DOUT0		(User: digital output 0)
			MX6QDL_PAD_CSI0_DAT13__GPIO5_IO31	0x1f0f0	// OUT: GPIO_DOUT1		(User: digital output 1)
			MX6QDL_PAD_CSI0_DAT16__GPIO6_IO02	0x1b0b0	// IN:	QUECTEL_STATUS	(Modem status signal)
			MX6QDL_PAD_CSI0_DAT17__GPIO6_IO03	0x1f0f0	// OUT:	USB_BOOT		(Modem USB Boot signal)
			MX6QDL_PAD_CSI0_VSYNC__GPIO5_IO21	0x1f0f0	// OUT: STATUS_LED0		(User: status LED 0)
			MX6QDL_PAD_CSI0_PIXCLK__GPIO5_IO18	0x1f0f0	// OUT: STATUS_LED1		(User: status LED 1)
			MX6QDL_PAD_GPIO_0__GPIO1_IO00		0x1f0f0	// OUT: STATUS_LED2		(User: status LED 2)
			MX6QDL_PAD_DISP0_DAT0__GPIO4_IO21	0x1b0b0	// IN:  MC_OS_SELECT	(OS select signal from power controller)
			MX6QDL_PAD_DI0_PIN15__GPIO4_IO17	0x1b0b0	// IN:  VIRGIN			(Jumper for initial eMMC flashing)
			MX6QDL_PAD_CSI0_MCLK__GPIO5_IO19	0x1f0f0 // OUT: MODEM_DCDC_ON	(LTE modem power supply)
			MX6QDL_PAD_CSI0_DAT14__GPIO6_IO00	0x1f0f0 // OUT: TMUX_EN     	(CAN1 signal routing TX6 vs. TX93)
			MX6QDL_PAD_CSI0_DAT15__GPIO6_IO01	0x1f0f0 // OUT: TMUX_SEL     	(CAN1 signal routing TX6 vs. TX93)
		>;
	};

	pinctrl_usdhc4: usdhc4grp {
		fsl,pins = <
			MX6QDL_PAD_SD4_CMD__SD4_CMD		0x070b1
			MX6QDL_PAD_SD4_CLK__SD4_CLK		0x070b1
			MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x070b1
			MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x070b1
			MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x070b1
			MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x070b1
			MX6QDL_PAD_NANDF_ALE__SD4_RESET		0x0b0b1
		>;
	};
};

